# [Gitignore](https://git-scm.com/docs/gitignore)
.git
.npm
.yarn
package-lock.json
.stylelintcache
.eslintcache
.changeset
.env

backup
scripts/*
!scripts/push-gh-pages.ts
!scripts/release.ts
!scripts/build.ts
!scripts/publish.ts
!scripts/utils.ts
package

# Tools & Editors
.idea
.sublime-*
.vscode
.husky

# Dependencies
node_modules/

# Logs
logs
*.log*

# Build & output
cdn
dist
*.tgz

# Docs
docs/.vitepress/cache
docs/.vitepress/dist

# Tests
coverage

# System files
.DS_Store
.DS_STORE
.cache
.tmp
.temp

