# Git ignore
# https://git-scm.com/docs/gitignore

# Tools & Text Editors
.idea
.sublime-*
.vscode

# Dependency directories
node_modules/

# Logs
logs
*.log*

# Runtime data
pids
*.pid
*.seed

# Build / generate output
dist
out
coverage
*.tgz

# Temporary files
.tmp
.temp
.grunt
.lock-wscript

# Docs config
.chiller
docs/.vitepress/cache
docs/.vitepress/dist

# Others
.git
.DS_Store
.DS_STORE
.cache
.npm
.yarn
.stylelintcache
.eslintcache
package-lock.json

