
## OSX
.DS_Store

## IDE
.idea

## vscode
.vscode

## git
.git
.gitignore

## npm
node_modules
package-lock.json
yarn.lock
.npmignore

## jest
coverage
jest.config.js

## dev
src
test
tests
types
build
cdn
babel.config.js
prettier.config.js
.eslintrc.json
.eslintrc.js
.prettierignore
.prettierrc
.babelrc.json
tsconfig.json
bump.config.ts
rollup.config.mjs

## doc
CONTRIBUTING.md
docs

## test
_test
dist
backup
scripts

## other
.travis.yml
karma.sauce.conf.js
.github
.releaserc
*.tgz