## Project
.DS_Store
.idea
.vscode
.git
.github
.changeset
node_modules
package-lock.json
yarn.lock
.npmrc
.npmignore
.gitignore
.editorconfig
.eslintrc.json
.eslintrc.js
.prettierrc
.prettierignore
prettier.config.js
babel.config.js
.babelrc.json
.travis.yml
tsconfig.json
CONTRIBUTING.md
rollup.config.mjs

## Directory
src
cdn
types
build
docs
dist
backup
scripts
package*

## Tests
test
tests
coverage
jest.config.js
vitest.config.mts

## other
bump.config.ts
karma.sauce.conf.js
.releaserc
*.tgz
